<div class="row" style="margin-left:10px; margin-right:10px;">
    <div class="col-md-8">
        <br/>

        <div class="row">
            <div class="col-md-11">
                <div class="card">
                    <div class="card-body">
                        <h3>予約確認</h3>
                        <div class="card" style="width: 24rem; margin-left: 70px;">
                            <div class="card-body">
                                <table>
                                    <tr>
                                        <p>チェックイン: <%= I18n.l(@reservation.start_date, format: :full_date) %></p>
                                    </tr>
                                    <tr>
                                        <p>チェックアウト: <%= I18n.l(@reservation.end_date, format: :full_date)  %></td>
                                    </tr>
                                    <tr>
                                        <p>宿泊日数: <%= (@reservation.end_date.to_date - @reservation.start_date.to_date).to_i %> 泊</p>
                                    </tr>
                                    <tr>
                                        <p>人数: <%= @reservation.number_of_guests %></p>
                                    </tr>
                                    <tr>
                                        <p>支払金額: <%= number_to_currency(@reservation.total_price) %></p>
                                    </tr>
                                </table>
                                <br/>
                                <%= form_with(model: @reservation, url: reservation_path, local: true) do |f| %>
                                <%= f.hidden_field :step, value: "confirm" %>
                                <%= f.submit "予約を確定する", id: "btn_book", class: "btn btn-danger btn-block"%>

                                <% end %>
                            </div>
                        </div>
                        <%= link_to "戻る", :back %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />