<br />
<h3><%= @rooms.count %>件見つかりました。</h3>

<% if @rooms.any? %> <% @rooms.each do |room| %>

<div class="card"></div>
<div class="row" style="margin-top: 50px; margin-left: 30px" ;>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>施設画像</th>
        <th>施設名</th>
        <th>住所</th>
        <th>施設詳細</th>
        <th>施設料金（一泊）</th>
        <th>予約</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <% if room %> <%= link_to room_path(room), data: { turbolinks: false} do %> <% if room.photos.attached? %> <%= image_tag room.photos.first, style: "width: 230px;" %><br />
          <% else %> <%= image_tag "default_image_room.png", style: "width: 230px;" %> <% end %> <%= room.listing_name %> <% end %> <% end %>
        </td>

        <td><%= link_to room.room_type, room_path(room), data: { turbolinks: false} %></td>

        <td><%= room.address %></td>

        <td><%= room.summary %></td>

        <td>
          <div class="btn btn-danger btn-block disabled"><%= number_to_currency(room.price) %></div>
        </td>

        <td><%= link_to "詳細はこちら", room, data: {turbolinks: false}%></td>
      </tr>
    </tbody>
  </table>
</div>
<% end %> <% else %>
<p>該当する部屋はありません</p>
<% end %>

<style>
  .card {
    margin-left: 18px;
  }
  h3 {
    margin-left: 18px;
  }
</style>
